# Calidad de sueño y estilo de vida

En este conjunto de datos sacado de [Kaggle](https://www.kaggle.com/datasets/uom190346a/sleep-health-and-lifestyle-dataset) cuenta con datos de la calidad de sueño de distintas personas, las columnas que se encuentran son las siguientes:

- Person ID: Un identificador para cada individuo
- Gener: El género de la persona (Hombre / Mujer)
- Age: La edad de las personas en años
- Occupation: - La ocupación o profesión de la persona
- Sleep Duration (hours) - El número de horas que la persona duerme por día
- Quality Sleep (scale: 1-10) - Una calificación subjetiva de la calidad del sueño
- Physical Activity Level (minutes/day) - El número de minutos que la persona hace actividad física diariamente
- Stress Level (scale: 1-10) - Una calificacoón subjetiva del nivel de estres experimentado por la persona
- BMI Category - La categoría de Índice de Masa Corporal
- Blood Pressure (systolic/diastolic) - La presión arterial de la persona, indicado como presión sistólica sobre presión diastólica
- Heart Rate (bpm) - La frecuencia cardíaca en reposo en latidos por minuto
- Dialy Steps - El número de pasos que la persona hace al día
- Sleep Disorder - La presencia o ausensica de transtornos del sueño en la persona.

## Preguntas que buscamos responder con este conjunto

Las preguntas que buscaremos responder con este conjunto de datos son las siguientes:

- ¿Quiénes tienen peor calidad del sueño, hombres o mujeres?

- ¿Existe una relación entre la calidad del sueño de las personas y su profesión?

- ¿La actividad física afecta al sueño?

- ¿Qué profesión presenta la peor calidad de sueño?

- ¿Cuál profesión tienen a las personas con el mayor nivel de estrés y el mayor índice de masa corporal?

- ¿En qué rango de edades se encuentran la mayor cantidad de trastornos del sueño?

- La cantidad de pasos al día, ¿afecta la calidad del sueño? ¿al índice de masa corporal?

Con estas preguntas comenzaremos a hacer nuestro análisis buscando extraer la mayor cantidad de información que se pueda del conjunto.

In [1]:
import pandas as pd

In [2]:
# Cargamos el conjunto de datos
data = pd.read_csv(
      "Sleep_health_and_lifestyle_dataset.csv",
      index_col="Person ID"
    )
data.head()

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
Person ID,,,,,,,,,,,,
1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,None
2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [3]:
# Información general del conjunto
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374 entries, 1 to 374
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Gender                   374 non-null    object
 1   Age                      374 non-null    int64
 2   Occupation               374 non-null    object
 3   Sleep Duration           374 non-null    float64
 4   Quality of Sleep         374 non-null    int64
 5   Physical Activity Level  374 non-null    int64
 6   Stress Level             374 non-null    int64
 7   BMI Category             374 non-null    object
 8   Blood Pressure           374 non-null    object
 9   Heart Rate               374 non-null    int64
 10  Daily Steps              374 non-null    int64
 11  Sleep Disorder           374 non-null    object
dtypes: float64(1), int64(6), object(5)
memory usage: 38.0+ KB

In [4]:
# Descripción general de las variables numericas del conjunto
data.describe()

,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps
count,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000
mean,42.184492,7.132086,7.312834,59.171123,5.385027,70.165775,6816.844920
std,8.673133,0.795657,1.196956,20.830804,1.774526,4.135676,1617.915679
min,27.000000,5.800000,4.000000,30.000000,3.000000,65.000000,3000.000000
25%,35.250000,6.400000,6.000000,45.000000,4.000000,68.000000,5600.000000
50%,43.000000,7.200000,7.000000,60.000000,5.000000,70.000000,7000.000000
75%,50.000000,7.800000,8.000000,75.000000,7.000000,72.000000,8000.000000
max,59.000000,8.500000,9.000000,90.000000,8.000000,86.000000,10000.000000

In [5]:
data.corr().columns

C:\Users\MATEO\AppData\Local\Temp\ipykernel_976\412245029.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr().columns

Index(['Age', 'Sleep Duration', 'Quality of Sleep', 'Physical Activity Level',
       'Stress Level', 'Heart Rate', 'Daily Steps'],
      dtype='object')

### Análisis de las edades

In [6]:
# Cantidad de hombres y mujeres en el conjunto
data['Gender'].value_counts()

Male      189
Female    185
Name: Gender, dtype: int64

In [7]:
# Promedio de la edad
data['Age'].mean()

42.18449197860963

In [8]:
# Desviación estándar del conjunto
data['Age'].std()

8.67313346554724

In [9]:
# Valor mínimo de las edades
data['Age'].min()

27

In [10]:
# Valor máximo de las edades
data['Age'].max()

59

In [11]:
# Creamos una columna nueva para ordenar por adulto y adulto viejo
data.loc[data['Age']<=40, 'Age_group'] = 'Adult'
data.loc[data['Age']>=41, 'Age_group'] = 'Older Adult'

In [12]:
# Cantidad de adultos y adultos viejos del conjunto
data['Age_group'].value_counts()

Older Adult    209
Adult          165
Name: Age_group, dtype: int64

In [13]:
# Promedio y desviación estándar de las edades divididas entre hombres y mujeres
data.groupby('Gender')['Age'].agg(['mean', 'std'])

             mean       std
Gender
Female  47.405405  8.093407
Male    37.074074  5.662006

## Análisis de las ocupaciones

In [14]:
# Cantidad de hombres y mujeres
data.groupby(['Occupation'])['Gender'].value_counts()

Occupation            Gender
Accountant            Female    36
                      Male       1
Doctor                Male      69
                      Female     2
Engineer              Female    32
                      Male      31
Lawyer                Male      45
                      Female     2
Manager               Female     1
Nurse                 Female    73
Sales Representative  Male       2
Salesperson           Male      32
Scientist             Female     4
Software Engineer     Male       4
Teacher               Female    35
                      Male       5
Name: Gender, dtype: int64

In [15]:
# Duración mínima y máxima del sueño de las personas
print(data['Sleep Duration'].min())
print(data['Sleep Duration'].max())

5.8
8.5

In [16]:
# Duración del sueño entre hombres y mujeres
data.groupby(['Gender'])['Sleep Duration'].mean()

Gender
Female    7.229730
Male      7.036508
Name: Sleep Duration, dtype: float64

In [17]:
data.groupby('Gender')['Quality of Sleep'].mean()

Gender
Female    7.664865
Male      6.968254
Name: Quality of Sleep, dtype: float64

In [18]:
# Promedio de la calidad y duración del sueño
occ_qua=data.groupby('Occupation')[['Quality of Sleep', 'Sleep Duration']].mean()
occ_qua.sort_values(by='Quality of Sleep')

                      Quality of Sleep  Sleep Duration
Occupation
Sales Representative          4.000000        5.900000
Scientist                     5.000000        6.000000
Salesperson                   6.000000        6.403125
Software Engineer             6.500000        6.750000
Doctor                        6.647887        6.970423
Teacher                       6.975000        6.690000
Manager                       7.000000        6.900000
Nurse                         7.369863        7.063014
Accountant                    7.891892        7.113514
Lawyer                        7.893617        7.410638
Engineer                      8.412698        7.987302

In [19]:
occ_bmi = data.groupby('Occupation')['BMI Category'].value_counts()

occ_bmi.sort_values()

Occupation            BMI Category
Lawyer                Normal Weight     1
Software Engineer     Overweight        1
                      Obese             1
Manager               Overweight        1
Teacher               Obese             1
Doctor                Normal Weight     2
Lawyer                Obese             2
                      Overweight        2
Software Engineer     Normal Weight     2
Sales Representative  Obese             2
Engineer              Overweight        3
                      Normal Weight     4
Doctor                Obese             4
Scientist             Overweight        4
Accountant            Normal Weight     5
                      Overweight        6
Teacher               Normal            6
Nurse                 Normal Weight     7
Accountant            Normal           26
Salesperson           Overweight       32
Teacher               Overweight       33
Lawyer                Normal           42
Engineer              Normal           56
Doctor                Normal           65
Nurse                 Overweight       66
Name: BMI Category, dtype: int64

In [20]:
occ_steps = data.groupby(['Occupation'])['Daily Steps', 'Physical Activity Level', 'Sleep Duration', 'Quality of Sleep'].mean()
occ_steps.sort_values(by='Daily Steps')

C:\Users\MATEO\AppData\Local\Temp\ipykernel_976\237343472.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  occ_steps = data.groupby(['Occupation'])['Daily Steps', 'Physical Activity Level', 'Sleep Duration', 'Quality of Sleep'].mean()

,Daily Steps,Physical Activity Level,Sleep Duration,Quality of Sleep
Occupation,,,,
Sales Representative,3000.000000,30.000000,5.900000,4.000000
Scientist,5350.000000,41.000000,6.000000,5.000000
Manager,5500.000000,55.000000,6.900000,7.000000
Software Engineer,5800.000000,48.000000,6.750000,6.500000
Teacher,5957.500000,45.625000,6.690000,6.975000
Engineer,5980.952381,51.857143,7.987302,8.412698
Salesperson,6000.000000,45.000000,6.403125,6.000000
Doctor,6808.450704,55.352113,6.970423,6.647887
Accountant,6881.081081,58.108108,7.113514,7.891892
Lawyer,7661.702128,70.425532,7.410638,7.893617
Nurse,8057.534247,78.589041,7.063014,7.369863